.navbar .navbar-brand {
  padding: 15px
}
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
    margin-left:20px;
    margin-right:20px;
  }
  .navbar .navbar-brand {
    padding: 0 0.8em;
  }
}
.navbar .navbar-nav .nav-link:hover {
  background-color: rgba(64, 172, 241, 0.7);
  color: #fff;
} 